@font-face {
  font-family: Avenir_Regular;
  src: url("@{fonts}/AvenirNext-Regular.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-Regular.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_Italic;
  src: url("@{fonts}/AvenirNext-Italic.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-Italic.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_UltraLightItalic;
  src: url("@{fonts}/AvenirNext-UltraLightItalic.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-UltraLightItalic.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_UltraLight;
  src: url("@{fonts}/AvenirNext-UltraLight.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-UltraLight.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_MediumItalic;
  src: url("@{fonts}/AvenirNext-MediumItalic.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-MediumItalic.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_DemiBoldItalic;
  src: url("@{fonts}/AvenirNext-DemiBoldItalic.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-DemiBoldItalic.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_Bold;
  src: url("@{fonts}/AvenirNext-Bold.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-Bold.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_BoldItalic;
  src: url("@{fonts}/AvenirNext-BoldItalic.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-BoldItalic.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_Medium;
  src: url("@{fonts}/AvenirNext-Medium.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-Medium.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_DemiBold;
  src: url("@{fonts}/AvenirNext-DemiBold.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-DemiBold.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_Heavy;
  src: url("@{fonts}/AvenirNext-Heavy.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-Heavy.ttf")  format('truetype');
}

@font-face {
  font-family: Avenir_HeavyItalic;
  src: url("@{fonts}/AvenirNext-HeavyItalic.eot") format('embedded-opentype'), 
       url("@{fonts}/AvenirNext-HeavyItalic.ttf")  format('truetype');
}
